h1 {
  font-size: 50pt;
  color: green;
  margin-bottom: -20px;
  margin-top: -10px;
}

a {
  text-decoration: none;
  color: green;
  font-size: 20pt;
}

img {
  margin-left: 50px;
}

.right-image {
  float: right;
}
