@import url('https://fonts.googleapis.com/css?family=Amaranth:700');

body {
  margin: 30px auto;
  max-width: 1000px;
  font-family: 'Amaranth', sans-serif;
  line-height: 1.5;
  padding: 30px 20px;
  text-align: center;
  align-content: center;
}

/* heading text */
h1 {
  margin-bottom: 10px;
  margin-top: -10px;
  font-size: 50pt;
  color: #FFD21F;
}

/* link text */
a {
color: #FFD21F;
text-decoration: none;
}


/* Centers images */

img {
  display: center;
  margin: 0px auto;
}

html {
  background-image: url("images/stars.gif");
  background-repeat: repeat;
}

video {
  display: center;
}

.spacestation {
  margin-top: -50px;
  margin-left: 500px;
}

.solar {
  margin-top: -70px;
  margin-left: -200px;
}
